/* 
.sectionErr{
    height: auto;
}
.err{
    background-image: url(../public/404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.err h1{
    margin: 0 auto;
    color: red;
    position: relative;
    top: 100px;
    width: 80%;
    background-color: rgba(24, 24, 9, 0.116);
    font-size: 2em;
}
.err h2{
    display: none;
}

@media (min-width: 1024px){

    .err{
        background-image: url(../public/erro.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;
    }
    .err h1{
        display: none;
    }
    .err h2{
        margin: 0 auto;
        color: red;
        position: relative;
        top: 100px;
        width: 80%;
        background-color: rgba(24, 24, 9, 0.116);
        font-size: 5em;
        display: block;
    }
}
@media (min-width: 1440px){
    .err{   
        height: 888px;
    }
}
@media (min-width: 1680px){
    .err{   
        height: 908px;
        background-position: bottom;
    }
    .err h2{
        text-align: end;
    }
} */
.fundo {
    background: linear-gradient(
      360deg,
      #000000d6,
      rgba(255, 255, 255, 0.315),
      #000000d6
    );
    height: 100vh;
    z-index: 1;
    display: flex;
      justify-content: center;
    align-items: center;
  }
  .fundo h1{
      font-size: 5em;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
  }
  .fundo b {
      color: red;
  }
  .fundo button a {
      text-decoration: none;
      font: 300 arial;
      font-size: 1.3em;
      color: white;
  }
  .fundo button{
      height: 50px;
      width: 100%;
      cursor: pointer;
      border: none;
      background-color: rgba(202, 17, 17, 0.705);
  }
  .fundo button:hover{
      background-color: rgba(0, 0, 0, 0.328);
  }
  .video {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
  }
  