
  .display {
    display: flex;
  }
  
  .top {
    background-image: url(../public/pagina\ inicial/header-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
  }
  .menu p {
    display: none;
  }
  .info {
    background-color: rgb(0 0 0 / 78%);
    width: 90%;
    height: 35vh;
    margin-left: auto;
    border-radius: 350px 0 0 350px;
    position: relative;
    top: 220px;
  }
  .menu h1 {
    height: auto;
    color: #f15000;
    text-align: center;
    font-size: 2em;
    /* justify-content: center; */
    /* align-items: center; */
  
    position: relative;
    top: 40px;
  }
  .menu b {
    color: white;
    font-size: 27px;
  }
  
  .meio p {
    width: 100%;
    margin: 20px auto;
    color: white;
    line-height: 2;
  }
  #bt {
    width: 50%;
    margin: 50px auto 0;
  }
  
  .btn {
    width: 100%;
    height: 41px;
    background-color: #f0f8ff12;
    border: #f15000 2px solid;
    color: white;
    border-radius: 20px;
    position: relative;
  
    outline: none;
  }
  
  .btn:hover,
  .btnsport:hover {
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    cursor: pointer;
  }
  #hsport {
    margin: 20px;
  }
  .meio {
    height: auto;
  }
  .meio h2 {
    text-align: center;
    color: #f15000;
    font-size: 3em;
  }
  
  .meio p {
    color: black;
  }
  .flex {
    display: none;
  }
  
  .meio2 {
    background-image: url(../public/pagina\ inicial/tema3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
    background-attachment: fixed;
  }
  .black {
    width: 55%;
    background-color: rgba(0, 0, 0, 0.658);
    height: 7vh;
    border-radius: 0 350px 350px 0;
    position: relative;
    top: 85px;
  }
  .black p {
    line-height: 2.4;
    font-size: 22px;
    color: white;
    /* margin: 22px; */
    margin: 0 28px;
  }
  .sport {
    display: flex;
    height: 70vh;
  }
  .sport img {
    display: none;
  }
  .sport p {
    width: 70%;
    margin: 15px auto 20px;
    color: black;
    line-height: 2;
  }
  .btnsport {
    width: 100%;
    height: 41px;
    background-color: #f0f8ff12;
    border: #f15000 2px solid;
    color: rgba(0, 0, 0, 0.952);
    border-radius: 20px;
    position: relative;
    outline: none;
  }
  .bt1 {
    width: 30%;
    margin: auto;
  }
  .end {
    background-image: url(../public/pagina\ inicial/temas5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
  .blackend {
    background-color: #000000bb;
    height: 8vh;
    width: 60%;
    position: relative;
    margin-left: auto;
    border-radius: 350px 0 0 350px;
    /* bottom: auto; */
    top: 6%;
  }
  
  .blackend p {
    line-height: 3;
    font-size: 21px;
    color: white;
    text-align: center;
  }
  .local {
    display: block;
    height: 65vh;
  }
  .local p {
    color: black;
  }
  .map {
    width: 100%;
    border: none;
    height: 298px;
  }
  .hour {
    width: 100%;
    text-align: center;
    margin: 30px auto;
  }
  .hour h3 {
    font-size: 2em;
    color: #f15000;
  }
  .hour p {
    font-size: 20px;
  }
  .maps {
    width: 80%;
    height: auto;
    margin: auto;
  }
  
  @media (min-width: 768px) {
    .info {
      height: 27vh;
      top: 472px;
    }
  
    .menu h1 {
      font-size: 3em;
    }
  
    .flex {
      display: flex;
      width: 100%;
      text-align: center;
    }
    .flex img {
      width: 100%;
    }
    .black p {
      font-size: 26px;
      width: 45%;
    }
    .sport {
      display: flex;
      height: 50vh;
    }
    .sport img {
      display: flex;
      width: 38%;
      height: 50vh;
    }
    .end {
      height: 90vh;
    }
    .container {
      position: relative;
      margin: 20px;
    }
  
    .image {
      display: block;
      width: 100%;
      height: auto;
    }
  
    .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #f15000b5;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: 0.5s ease;
    }
  
    .container:hover .overlay {
      bottom: 0;
      height: 100%;
    }
  
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
  
  @media (min-width: 1024px) {
    .display {
      display: flex;
    }
  
    .top {
      background-image: url(../public/pagina\ inicial/header.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
     height: 80vh;
      background-attachment: fixed;
      width: 100%;
    }
    .menu p {
      display: block;
    }
    .menu {
      position: relative;
      top: 115px;
    }
    .info {
      background-color: rgb(0 0 0 / 78%);
      width: 50%;
      top: 9%;
    
      height: 515px;
      margin-left: auto;
      border-radius: 350px 0 0 350px;
    }
    .menu h1 {
      top: 0;
    }
  
    .menu p {
      width: 50%;
      margin: 20px auto;
      color: white;
      line-height: 2;
    }
    #bt {
      width: 50%;
      margin: auto;
    }
  
    .btn {
      width: 100%;
      height: 41px;
      background-color: #f0f8ff12;
      border: #f15000 2px solid;
      color: white;
      border-radius: 20px;
      position: relative;
      top: 150px;
      outline: none;
    }
  
    #hsport {
      margin: 80px;
    }
    .meio {
      height: auto;
    }
    .meio h2 {
      text-align: center;
      color: #f15000;
      font-size: 3em;
    }
  
    .meio p {
      color: black;
    }
    .flex {
      display: flex;
      width: 100%;
      text-align: center;
    }
    .flex img {
      width: 100%;
    }
  
    .meio2 {
      background-image: url(../public/pagina\ inicial/home.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 80vh;
      background-position: center;
      background-attachment: scroll;
    }
    .black {
      width: 50%;
      background-color: rgba(0, 0, 0, 0.658);
      height: 10vh;
      border-radius: 0 350px 350px 0;
    }
    .black p {
      position: relative;
      line-height: 3;
      font-size: 2em;
      margin: 0 auto;
    }
    .sport {
      display: flex;
      height: 80vh;
    }
    .sport img {
      height: 85vh;
    }
    .sport p {
      color: black;
      margin-top: 225px;
    }
  
    .end {
      background-image: url(../public/pagina\ inicial/temaHomepc.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 80vh;
      background-attachment: scroll;
      background-position: center;
    }
    .blackend {
      background-color: #000000bb;
      height: 8vh;
      width: 30%;
      margin-left: auto;
      border-radius: 350px 0 0 350px;
    }
  
    .blackend p {
      line-height: 3;
      font-size: 1.5em;
    }
    .local {
      display: flex;
      height: 65vh;
    }
    .local p {
      color: black;
    }
    .map {
      width: 100%;
      border: none;
      height: 298px;
    }
    .hour {
      width: 50%;
      text-align: center;
      margin: auto;
    }
    .maps {
      width: 50%;
      height: auto;
      margin: auto;
    }
  }
  @media (min-width:1680px){
  
    .info {
      top: 87px;
      height: 55vh;
    }
    .meio p{
      font-size: 2em;
    }
    .menu p{
      font-size: 1.6em;
    }
    .sport p {
      font-size: 2em;
    }
    .btnsport{
      height: 60px;
      font-size: 26px;
    }  
  }
  