@font-face {
    font-family: 'Italica';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat/Montserrat-Italic.ttf');
}
  .display {
    display: flex;
  }
  .top {
    background-image: url(../public/pagina\ inicial/header-home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
  }
  .menu p {
    display: none;
  }
  .info {
    background-color: rgb(0 0 0 / 78%);
    width: 90%;
    height: 35vh;
    margin-left: auto;
    border-radius: 350px 0 0 350px;
    position: relative;
    top: 220px;
  }
  .menu h1 {
    height: auto;
    color: #f15001;
    text-align: center;
    font-size: 2em;
    position: relative;
    top: 40px;
  }
  .menu b {
    color: white;
    font-size: 27px;
  }
  .menu hr{
      background-color: #f15001;
      border: none;
      height: 2px;
      width: 50%;
      margin: auto;
  }
  .meio p {
    width: 100%;
    margin: 20px auto;
    color: white;
    line-height: 2;
  }
  #bt {
    width: 50%;
    margin: 50px auto 0;
  }
  .btn {
    width: 100%;
    height: 41px;
    background-color: #f0f8ff12;
    border: #f15000 2px solid;
    color: white;
    border-radius: 10px;
    position: relative;
    outline: none;
  }
  .btn:hover,
  .btnsport:hover {
    background-color: rgb(233 2 2 / 98%);
    color: white;
    cursor: pointer;
    outline: none;
  }
  #hsport {
    margin: 20px;
  }
  .meio {
    height: auto;
  }
  .meio h2 {
    text-align: center;
    color: #f15000;
    font-size: 3em;
  }
  .meio p {
    color: black;
  }
  .flex {
    display: none;
  }
  .meio2 {
    background-image: url(../public/pagina\ inicial/tema3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }
  .black {
    width: 55%;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 0 350px 350px 0;
    position: relative;
    top: 85px;
  }
  .black p {
    line-height: 2.4;
    font-size: 22px;
    color: white;
    margin: 0 28px;  
  }
  .sport {
    display: flex;
    height: auto;
  }
  .sport img {
    display: none;
  }
  .sport p {
    width: 70%;
    margin: 15px auto 20px;
    color: black;
    line-height: 2;
  }
  .btnsport {
    width: 100%;
    height: 41px;
    background-color: #f0f8ff12;
    border: #f15000 2px solid;
    color: rgba(0, 0, 0, 0.952);
    border-radius: 10px;
    position: relative;
    outline: none;
  }
  .bt1 {
    width: 30%;
    margin: 10px auto;
  }
  .end {
    background-image: url(../public/pagina\ inicial/temas5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }
  .blackend {
    background-color: #000000bb;
    width: 60%;
    position: relative;
    margin-left: auto;
    border-radius: 350px 0 0 350px;
    top: 6%;
  }
  .blackend p {
    line-height: 3;
    font-size: 21px;
    color: white;
    text-align: center;
  }
  .local {
    display: block;
    height: auto;
  }
  .local p {
    color: black;
  }
  .map {
    width: 100%;
    border: none;
    height: 298px;
  }
  .hour {
    width: 100%;
    text-align: center;
    margin: 30px auto;
  }
  .hour h3 {
    font-size: 2em;
    color: #f15000;
  }
  .hour p {
    font-size: 20px;
  }
  .maps {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .maps h3{
    text-align: center;
    font-size: 2em;
  margin: 30px 0;
  color: #f15000;
  }
  
  @media (min-width: 768px) {

    .top {
        background-image: url(../public/pagina\ inicial/header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        background-attachment: scroll;
        width: 100%;
    }
    .info {

      height: 256px;
      top: 90px;
      width: 67%;
    }
    .meio p {
      color: #020202;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      font-size: 1.5em;
    }
    .menu h1 {
      font-size: 3em;
    }
    .flex {
      display: flex;
      width: 100%;
      text-align: center;
    }
    .flex img {
      width: 100%;
    }
    .black p {
      font-size: 26px;
      width: 45%;
    }
    .sport {
      display: flex;
      height: auto;
    }
    .sport img {
      display: flex;
      width: 38%;
      height: 50vh;
    }.sport p {
      width: 70%;
      margin: 130px auto 20px;
      color: black;
      line-height: 2;
    }
    .end {
      height: 90vh;
    }
    .Sport {
      display: flex;
      flex-wrap: wrap;
      max-width: 90%;
      margin: 35px auto 0;
    }
    .Sport > div{
      flex: 100px;
      margin: 7px;
    }
    .container img,
    .container1 img,
    .container2 img,
    .container3 img,
    .container4 img,
    .container5 img {
      max-width: 100%;
    }
    .container,
    .container1,
    .container2,
    .container3,
    .container4,
    .container5 {
      position: relative;
      width: 90%;
      margin: 10px auto;
    }
    .image {
      display: block;
      width: 100%;
      height: auto;
    }
    .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #ba44009d;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: 0.5s ease;
    }
    .container:hover .overlay,
    .container1:hover .overlay,
    .container2:hover .overlay,
    .container3:hover .overlay,
    .container4:hover .overlay,
    .container5:hover .overlay {
      bottom: 0;
      height: 100%;
    }
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .text {
      color: white;
      font-size: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .local{
      display: flex;
    }
    .hour{
      margin: auto;
      height: 70px;
    }
    .maps {
      width: 80%;
      height: auto;
      margin: 11px 36px;
    }
    .maps h3{
      text-align: left;
    }
}

  @media (min-width: 1024px) {
    .display {
      display: flex;
    }
  
    .top {
      background-image: url(../public/pagina\ inicial/header.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
      background-attachment: fixed;
    }
    .menu p {
      display: block;
    }
    .menu {
      position: relative;
      top: 115px;
    }
    .info {
      background-color: rgb(0 0 0 / 78%);
      width: 50%;
      top: 6%;
    
      height: 515px;
      margin-left: auto;
      border-radius: 350px 0 0 350px;
    }
    .menu h1 {
      top: 0;
    }
  
    .menu p {
      width: 62%;
      margin: 20px auto 0;
      color: white;
      line-height: 2;
      font-size: 1.3em;
    }
    #bt {
      width: 35%;
      margin: auto;
      position: relative;
      top: 150px;
    }
  
    .btn {
      width: 100%;
      height: 41px;
      background-color: #f0f8ff12;
      border: #f15000 2px solid;
      color: white;
      border-radius: 20px;
      
      outline: none;
    }
  
    #hsport {
      margin: 80px;
    }
    .meio {
      height: auto;
    }
    .meio h2 {
      text-align: center;
      color: #f15000;
      font-size: 3em;
    }
  
    .meio p {
      color: black;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
    }
    .flex {
      display: flex;
      width: 100%;
      text-align: center;
    }
    .flex img {
      width: 100%;
    }
  
    .meio2 {
      background-image: url(../public/pagina\ inicial/home.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
      background-position: center;
      background-attachment: scroll;
    }
    .black {
      width: 20%;
      background-color: rgba(0, 0, 0, 0.658);
      height: 80px;
      border-radius: 0 350px 350px 0;
    }
    .black p {
      position: relative;
      line-height: 3;
      font-size: 20pt;
      margin: 0 auto;
    }
    .sport {
      display: flex;
      height: auto;
    }
    .sport img {
      height: 600px
    }
    .sport p {
      color: black;
      margin-top: 148px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
    }
  
    .end {
      background-image: url(../public/pagina\ inicial/temaHomepc.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      background-attachment: scroll;
      background-position: center;
    }
    .blackend {
      background-color: #000000bb;
      height: 80px;
      width: 30%;
      margin-left: auto;
      border-radius: 350px 0 0 350px;
    }
  
    .blackend p {
      line-height: 3;
      font-size: 1.5em;
    }
    .local {
      display: flex;
      height: auto;
    }
    .local p {
      color: black;
    }
    .map {
      width: 100%;
      border: none;
      height: 298px;
    }
    .hour {
      width: 50%;
      text-align: center;
      margin: auto 0;
    }
    .maps {
      width: 38%;
      height: auto;
      margin: auto;
    }
    .maps h3{
      font-size: 2em;
    margin: 30px 0;
    color: #f15000;
    }
  }
  @media (min-width:1680px){
  
    .info {
      top: 87px;
     
    }
    .meio p{
      font-size: 2em;
    }
    .menu p{
      font-size: 1.6em;
    }

    .sport p {
      font-size: 2em;
    }
    .btnsport{
      height: 60px;
      font-size: 26px;
    }  
  }
  

  @media (min-width:1920px){
    .sport img {
      width: 28%;
    }
    
    .info {
      top: 47px;
     
    }
  }
