/* .top {
 background-image: url(/imagens/Compactado-mobile/pasta/tenis-login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.login {
  width: 100%;
  display: flex;
}
.login-form {
  width: 100%;
}
.login-form h2 {
  color: #f15000;
  margin-left: 10px;
}
#email,
#password {
  width: 90%;
  height: 40px;
  margin: 10px;
  border: 1px solid #f15000;
}

#btn {
  width: 78%;
  margin: 20px;
  height: 40px;
  background: #f15000;
  border-radius: 5px;
  border: none;
  color: white;
}
.btn1{
  width: 60%;
  margin: auto;
}

@media (min-width: 768px) {
  .top {
    background-image: url(/imagens/Compactado-mobile/pasta/Login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
  }
  .login {
    width: 100%;
    display: flex;
  }
  .login-form {
    text-align: center;
    width: 50%;
  }
  #email,
  #password {
    width: 50%;
    height: 40px;
    margin: 10px;
    border: 1px solid #f15000;
  }
  #btn {
    width: 50%;
    margin: 10px;
    height: 40px;
  }
  .btn1{
    width: 30%;
    margin: auto;
  }
}


.login-form {
  width: 100%;
}
.login-form h2 {
  color: #f15000;
  margin-left: 10px;
  margin-top: 20px;
}

#btn {
  width: 100%;
  margin: 20px auto;
  height: 40px;
  background: #f15000;
  border-radius: 5px;
  border: none;
}

@media (min-width: 1024px) {
  .top {
    background-image: url(/imagens/Compactado-mobile/pasta/Login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 665px;
  }
  .login {
    width: 100%;
    display: flex;
  }
  .login-form {
    text-align: center;
    width: 50%;
  }
  #email,
  #password {
    width: 90%;
    height: 40px;
    margin: 10px;
  }
  #btn {
    width: 50%;
    margin: 10px;
    height: 40px;
  }
} */

.meio{
  background-image: url(..//public/loginmobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.formulario{
  background: rgba(0, 0, 0, 0.65);
  height: 300px;
  width: 80vw;
  position: relative;
  top: 200px;
  margin-left: 10%;
}
.email,
.senha,
.btn
{
  border-radius: 6px;
  border: none;
  width: 90%;
  height: 40px;
  margin: 23px 10px;
}
.formulario h2{
  color: #ff6002;
  margin: 0px 10px;
}
.btn{
  background-color: #ff6002;
  color: white;
}
.btn:hover{
  background: rgba(196, 188, 189, 0.801);
  cursor: pointer;

}

@media(min-width:768px){
  .meio{
      background-image: url(../public/loginmobile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }
  .formulario {
      background: rgba(0, 0, 0, 0.65);
      height: 300px;
      width: 46vw;
      position: relative;
      top: 200px;
      margin-left: 47%;
  }
}
@media(min-width:1024px){
  .meio{
      background-image: url(../public/fundologin.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      background-position: right;
  }
  .formulario {
      background: rgba(0, 0, 0, 0.65);
      height: 300px;
      width: 46vw;
      position: relative;
      top: 200px;
      margin-left: 10%;
  }


}

@media(min-width:1920px){

  .formulario{
    height: 470px;
    width: 29%;
  }
  .email,
.senha,
.btn
{
  height: 60px;
  width: 96%;
  margin: 23px 10px 46px;
}


}