

.meio{
  background-image: url(..//public/loginmobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.formulario{
  background: rgba(0, 0, 0, 0.65);
  height: 300px;
  width: 80vw;
  position: relative;
  top: 90px;
  margin-left: 10%;
}
.email,
.senha,
.btn
{
  border-radius: 6px;
  border: none;
  width: 93%;
  height: 40px;
  margin: 23px 10px;
}
.formulario h2{
  color: #ff6002;
  margin: 0px 10px;
}
.btn{
  background-color: #ff6002;
  color: white;
}
.btn:hover{
  background: rgba(196, 188, 189, 0.801);
  cursor: pointer;

}

@media(min-width:768px){
  .meio{
      background-image: url(../public/loginmobile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }
  .formulario {
      background: rgba(0, 0, 0, 0.65);
      height: 300px;
      width: 46vw;
      position: relative;
      top: 200px;
      margin-left: 47%;
  }
}
@media(min-width:1024px){
  .meio{
      background-image: url(../public/fundologin.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      background-position: right;
  }
  .formulario {
      background: rgba(0, 0, 0, 0.65);
      height: 300px;
      width: 46vw;
      position: relative;
      top: 200px;
      margin-left: 10%;
  }


}

@media(min-width:1920px){

  .formulario{
    height: 470px;
    width: 29%;
  }
  .email,
.senha,
.btn
{
  height: 60px;
  width: 96%;
  margin: 23px 10px 46px;
}


}