
  
  .nav {
    background-color: rgb(241, 241, 241);
    height: 100vh;
    /* width: 50%; */
    width: 100%;
    transition: 1s;
    position: fixed;
    left: -300%;
    z-index: 1;
  }
  .nav ul {
    text-align: center;
    height: 100vh;
    background: #000000ba;
  }
  .nav ul button {
    width: 30%;
    height: auto;
    margin: 0 2% 0 0;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    
  }
  .nav ul button img {
    width: 50%;
    position: absolute;
    right: 0;
  }
  .nav ul li {
    /* background-color: rgb(233, 230, 64); */
    height: 40px;
    margin: 40px 0 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 15px 44px;
  }
  .nav ul li a:hover {
    color: var(--color-h1);
    background: var(--color-transparente);
  }
  
  
  .nav ul .cadastro {
    position: absolute;
    bottom: 27px;
    width: 65%;
    height: 65px;
    background: #f17234;
    margin: 0 auto;
    /* color: white; */
    margin: 0 17.5%;;
    border-radius: 7px;
  }
  .nav ul .cadastro a {
    color: white;
  }
  .nav ul .cadastro a:hover {
    color: black;
  }
  .logo {
    width: 40%;
    margin-top: 20px;
  }
  .nav.open {
    left: 0;
    top: 0;
  }
   .menu {
    width: 15%;
    background-color: rgba(0, 0, 0, 0);
    margin: 15px;
    border: none;
    outline: none;
  }
  /* aqui onde vai ocultar o x */
  #new button#close{
    width: 15%;
    background-color: rgba(0, 0, 0, 0);
    margin: 15px;
    border: none;
    outline: none;
    position: fixed;
    right: 0;
    display: none;
    top :0;
  } 

  #new #close.open{
    display: block;
    z-index: 9;
  }

  
 .menu img,
 #close img {
    width: 100%;
    border-radius: 50%;
    /* background: aliceblue; */
    transform: rotateZ(0deg);
   transition: 1s;
  }
 
  #new #logo-header{
    width: 30%;
    position: absolute;
    transition: 1s;
    right: 35%;
  }
  
  .header{
    width: 100%;
    background: white;
   
    /*  */
  
  }
  #new{
    background: #000000ba;
    border-bottom: 2px solid var(--color-h1);

  }
  #new #logo-header.open {
    right: 100%;
  }
 
 
  @media (min-width: 768px) {
    #new button,
    #logo-header {
      display: none;
    }
    #new {
      background: none;
    }
    .header{
      background: none;
    }
    .nav {
      position: relative;
      top: 0;
      display: flex;
      left: 0;
      height: 100px;
      width: 100%;
      background-color: var(--color-transparente);
    }
    .nav ul {
      justify-content: space-evenly;
      align-items: center;
      height: 100px;
      width: 100vw;
      display: flex;
    }
    .nav ul li {
      margin-left: 20px;
      margin: 0;
     
    }
    .nav ul li:hover{
      outline: none;
      border:none;
      background: var(--color-h1);
      border-radius: 5px;
    }
    .nav ul li a {
      color: white;
      padding: 10px;
      font-size:1.2rem ;
    }
    .nav ul li a {
      color: white;
      padding: 10px;
      font-size:1.2rem ;
    }

    .nav ul li a:hover {
      color: rgb(214, 194, 194);
      background: none;
    }
  
    .logo {
      /* width: 205px;
      margin-top: 19px; */
      width: 205px;
      margin-top: -29px;
    }
    .nav ul .cadastro {
      position: relative;
      width: 22%;
      height: 50px;
      margin: 0;
      left: 0;
      bottom: 0;
    }
  }
  