* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    height: auto;
}
.body{
    padding: 0%;
    margin: 0%;
}

ul{
    display: block;
    
    top: 0;
    left: 0vw;
    width: 55vw;
    height: 100vh;
    z-index: 2;
    margin: 0;
    transition: left .1s ;
    padding: 0%;
}
a{
    text-decoration: none;
}